
h1
{
    display: block;
    text-decoration: dashed;
    text-transform: uppercase;
    color:rgb(0, 255, 13);
    text-align: center;
    
}
.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.page-title{
    color: rgb(255, 0, 217);
    font-size: 32px;
}
.element {
    color: blue;
}
.element:hover{
    color: red;
}
.element:active{
    color: darkred;
}

.button {
    width: 150px;
    height: 50px;
}

.button-red {
    background: red;
    color: white;
    border: 1px solid black;
}

.header .button {
    width: 250px;
}
.container {
    width: 250px;
    height: 150px;
    margin: 0 auto;
    border-style: ridge;
    border-color: black;
    border-width: 20px;
    background-color: lightblue;
  }
  .child {
    width: 60%;
    height: auto;
    margin: 0 auto;
    background-color: lightcoral;
    text-align: center;
  }